.cls-1 {
    fill: none;
}

.cls-19, .cls-2, .cls-22, .cls-23, .cls-29 {
    fill: #fff;
}

.cls-2 {
    stroke: #707070;
}

.cls-3 {
    clip-path: url(#clip-Artboard_2);
}

.cls-16, .cls-4 {
    fill: #000000;
}

.red .cls-14, .red .cls-17-14, .red .cls-18, .red .cls-6 {
    fill: #c60021;
}

.red .cls-5 {
    fill: #e10025;
}

.green .cls-14, .green .cls-174, .green .cls-18, .green .cls-6 {
    fill: #009947;
}

.green .cls-5 {
    fill: #00b755;
}

.golden .cls-14, .golden .cls-17, .golden .cls-18, .golden .cls-6 {
    fill: #D4AF37;
}

.golden .cls-5 {
    fill: #CFB53B;
}

.cls-7 {
    fill: #e0e1e1;
}

.cls-9 {
    fill: url(#pattern);
}

.cls-10, .cls-13 {
    fill: #00162d;
}

.cls-10 {
    font-size: 96px;
}

.cls-10, .cls-16, .cls-17, .cls-20, .cls-22 {
    font-weight: 600;
}

.cls-13, .cls-14, .cls-16, .cls-19 {
    font-size: 48px;
}

.cls-14 {
    font-style: italic;
}

.cls-14, .cls-21, .cls-23 {
    font-weight: 300;
}

.cls-15, .cls-20, .cls-21 {
    fill: #333234;
}

.cls-15 {
    font-size: 38px;
}

.cls-17 {
    font-size: 50px;
    font-weight: 500;
}

.cls-19 {
    font-weight: 700;
}

.cls-20, .cls-22 {
    font-size: 36px;
}

.cls-21, .cls-23 {
    font-size: 27px;
    font-weight: 300;
}

.cls-24 {
    clip-path: url(#clip-path-6);
}

.cls-25 {
    fill: url(#pattern-1);
}

.cls-26 {
    clip-path: url(#clip-path-7);
}

.cls-27 {
    clip-path: url(#clip-path-8);
}

.cls-28 {
    fill: url(#pattern-3);
}