<!doctype html>
<html lang="fa">

<body>
<div style="max-width: 600px; margin: auto; direction: rtl; text-align: center;">
    <div style="background-color: rgb(245,245,245); overflow: hidden; width: 100%;">
        <div style="text-align: right; padding: 15px 30px;">
            <img src="https://courses.darsup.org/static/darsup/images/logo.png" width="70" height="30">
        </div>
        <div style="background-color: #fff; margin: 0 20px 40px;">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>

</html>
